<% if !object.empty? %>
  <% object.each do |comment| %>
    <div class="m-2 pl-2 border border-radius"> 
      <p class="font-weight-bold pt-2"> 
        <%= comment.user.first_name %>
      </p>
      <p>
        <%= comment.text %>
      </p>
    </div>
  <% end %>
<% end %>
