<div class="p-2">
  <h2 class="h5">Aqui va un comment</h2>
  <%= form_for(@comment, url: post_comments_path(object.id, @comment), html: { class: "w-100" }) do |f| %>
    <%= f.text_area :text, class: 'form-control', placeholder: "Write a comment..." %>
    <div class="d-flex justify-content-end py-2">
      <%= f.submit 'comment', class: "btn btn-primary px-4" %>
    </div>
  <% end %>
</div>