<section>
  <h2 class="h5">My posts</h2>
  <% if !@posts.empty? %>
    <%= render 'posts/post', object: @posts %>
  <% else %>
    <div>
      <span>There aren't posts to show</span>
    </div> 
  <% end %>
</section>