<section>
  <h2 class="h5">My posts</h2>
  <% unless @posts.empty? %>
    <%= render 'posts/post', object: { posts: @posts} %>    
  <% else %>
    <div>
      <span>There aren't posts to show</span>
    </div> 
  <% end %>
</section>