<% if !@users.empty? %>
  <section>
    <h2 class="h4">Users list</h2>
    <% @users.each do |u| %>
      <ul class="list-unstyled">
        <% if u != current_user%>
          <li>
            <div class="row border-bottom pb-3">
              <div class="col-3 d-flex align-items-center">
                @<%= u.first_name %> <%= u.last_name %>
              </div>
              <div class="col-3">
                <% if friendship_pending?(u) %>
                  <div class="btn btn-warning btn-small w-100">Pending</div>
                <% else %>
                  <%= link_to "Send Friendship Request", new_friendship_path(user: u), class: 'btn btn-primary btn-small w-100' %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %> 
  </section>
<% end %>